<!-- views/book-add.hbs -->

<form action="/task/add" method="post">
    <label for="">Title:</label>
    <input type="text" name="title">

    <label for="">Author:</label>
    <input type="text" name="author">

    <label for="">Description:</label>
    <input type="text" name="description">

    <button type="submit">ADD</button>
</form>