{{!-- views/tasks.hbs --}}

<h1>TASKS</h1>

<a href="/task/add">CREATE A NEW TASK</a>

{{#each tasks}}
<p>
  <a href="task/{{this._id}}">{{this.title}}</a>

  <a href="/task/edit?task_id={{this._id}}" class="edit-button">EDIT</a>
</p>
{{/each}}