<h1>{{task.title}}</h1>
<span>Written by: {{task.author}}</span>
<p>Summary: {{task.description}}</p>

<form action="/task/delete?task_id={{task._id}}" method="POST">
        <button type="submit">Delete</button>
</form>

<a href="/tasks">Return</a>