html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */    
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  padding: 5rem;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.contenedor {
  width: min(90%, 120rem);
  margin: 0 auto;
}

.edit-button {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  padding: 2px 4px;
  background-color: grey;
  border-radius: 6px;
}